<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cormoran Sportline fīderis 3,9m 50-150g</title>
    <link rel="stylesheet" href="../static/product_styles.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
    <div class="top-bar">
        <a href="#"><img src="https://www.fishingdiscount.lv/image/catalog/0001.svg" alt="Fishing Discount Logo" class="logo-img"></a>
        <div class="dropdown">
            <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
                <a href="#">Makšķeres</a>
                <a href="#">Spoles</a>
                <a href="aksesuari.html" id="aksesuari-btn">Aksesuāri</a>
            </div>
        </div>
        <button class="add-to-cart">Cart</button>
        <input type="text" id="search-bar" placeholder="Search..." class="search-bar">

        <button class="login-btn" onclick="redirectToLogin()">Login/Register</button>
    </div>

    <div class="container">
        <section class="product-details">
            <div class="product-info">
                <div class="product-image">
                    <img src="https://www.fishingdiscount.lv/image/cache/catalog/Produktu%20bildes/14447_1-800x800.jpg" alt="Cormoran Sportline fīderis 3,9m 50-150g">
                </div>
                <div class="product-details">
                    <h1>Cormoran Sportline fīderis 3,9m 50-150g</h1>
                    <p class="product-price">Price: €52.00</p>
                    <div class="quantity-selector">
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" value="1" min="1">
                    </div>
                    <button class="add-to-cart" onclick="addToCart('Cormoran Sportline fīderis 3,9m 50-150g', 52.00, parseInt(document.getElementById('quantity').value))">Add to Basket</button>

                </div>
            </div>
            <div class="product-description">
                <h2>Description:</h2>
                <p>Preces apraksts:<br>
                    Cormoran Sportline fīderis ir universāls spininga stieņa modeļs, kas paredzēts galvenokārt maltītes zivju makšķerēšanai...
                </p>
                <p class="availability">Available at warehouse</p>
            </div>
        </section>
    </div>

    <div class="bottom-bar">
        <div class="footer-section">
            <h2>Par mums...</h2>
            <p>teksts no majaslapas...</p>
        </div>
        <div class="footer-section">
            <h2>Kontakti</h2>
            <p>e-pasts: contact@fishingdiscount.lv</p>
            <p>Telefona nummurs: +371TelNr</p>
            <p>Adrese: Vienības gatve</p>
        </div>
        <div class="footer-section">
            <h2>Klientu serviss</h2>
            <p>e-pasts: info@fishingdiscount.com</p>
            <p>Bankas kkas</p>
            <p>Sūtīšana un sūtījumu atgriešana</p>
        </div>
    </div>
</body>

</html>
